ul{
list-style: none;/* supprime les puces */
}
li{


text-align: center;

background: red;
/* float: left;rendre horizontal les elements li */

display: inline-table;
}
li a{
	display: block;
color: white;
text-decoration: none;
background: black;
height: 50px;
line-height: 50px;

}

li a:hover{
	background: purple;
}
li a:first-letter{
	text-transform: uppercase;
	font-size: 1.5em;
	color: red;
	

}










